In [85]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from keras.models import Sequential
from keras.layers import Dense
import pickle

In [51]:
data= pd.read_csv("dataset.csv")

In [52]:
data.head(5)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [53]:
x=data.Text
y=data.language

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [55]:
x_train.shape, x_test.shape

((16500,), (5500,))

In [56]:
cv= CountVectorizer()
x_train_cv= cv.fit_transform(x_train)
x_test_cv= cv.transform(x_test)

In [57]:
rf=RandomForestClassifier()
rf.fit(x_train_cv,y_train)

/Users/sahilsagar/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [58]:
rf.score(x_test_cv,y_test)

0.9161818181818182

In [66]:
sv=SVC(kernel='linear')
sv.fit(x_train_cv,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [67]:
sv.score(x_test_cv,y_test)

0.9398181818181818

In [95]:
s=[input("Enter minmum 20 words in any language:")]
ss=cv.transform(s)
sv.predict(ss)

Enter minmum 20 words in any language:द्वारा विकसित एक मुफ्त बहुभाषी सांख्यिकीय और तंत्रिका मशीन अनुवाद सेवा है, जो एक भाषा से दूसरी भाषा में पाठ और वेबसाइटों का अनुवाद करने के लिए है।

array(['Hindi'], dtype=object)

In [87]:
# initializing data to be stored in db 
Omkar = {'key' : 'Omkar', 'name' : 'Omkar Pathak', 
'age' : 21, 'pay' : 40000} 
Jagdish = {'key' : 'Jagdish', 'name' : 'Jagdish Pathak', 
'age' : 50, 'pay' : 50000} 

# database 
db = {} 
db['Omkar'] = Omkar 
db['Jagdish'] = Jagdish 

# For storing 
b = pickle.dumps(db)	 # type(b) gives <class 'bytes'> 

# For loading 
myEntry = pickle.loads(b)

In [88]:
print(myEntry)

{'Omkar': {'key': 'Omkar', 'name': 'Omkar Pathak', 'age': 21, 'pay': 40000}, 'Jagdish': {'key': 'Jagdish', 'name': 'Jagdish Pathak', 'age': 50, 'pay': 50000}}